html {
    height: 100%;
    width: 100%;
}
body {
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 90px 1fr;
    height: 100%;
}
nav {
    grid-row: span 2;
    background-color: rgb(124, 124, 124);
    height: 100%;
    color: white;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: bold;
}
ul {
    padding-top: 310px;
}
li {
    margin-bottom: 20px;
    cursor: pointer;
}
header {
    background-color: rgb(0, 156, 228);
    color: white;
    font-size: 40px;
    text-align: end;
}
h1 {
    height: 100%;
    margin-top: 30px;
    margin-right: 20px;
    font-family: 'Montserrat';
    font-weight: 900;
}
#content {
    font-family: 'Montserrat';
    font-size: 40px;
    color: black;
    font-weight: 900;
    margin: 1em;
}
button {
    background: none;
    color:lightslategray;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 20px;
}
input {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border-color: gray;
    font-family: 'Montserrat';
    color: black;
    width: 300px;
    
}
p {
    color:lightslategray;
    font-size: 20px;
}
